@namespace MudBlazor
@inherits MudComponentBase
@using MudBlazor.Pivot
@using MudBlazor.Utilities
@typeparam T


<div @attributes="UserAttributes" class="@_classname" style="@_style">
    @if (Items is not null && Columns is not null && Rows is not null && Measures is not null && Options is not null &&
        Items.Any() && Measures.Any())
    {

        <div class="@_tableClass" style="@_tableStyle">
        <table class="mud-table-root" data-hRows="@ColHeaderRowCount" data-hCols="@RowHeaderColCount">

            @*Render Headers*@
            @{
                var cornerRows = ColHeaderRowCount - (Options.RenderHeaderTitles ? 1 : 0);
                var cornerColumns = RowHeaderColCount - (Options.RenderHeaderTitles ? 1 : 0);
                    <thead class="@_headClassname">
                    @for (var i = 0; i < RowRender.MaxDepth; i++)
                    {
                            <tr class="headerRow">
                            @if (i == 0)
                            {
                                <th class="ch-0 rh-0 header cornerHeader tmpe" colspan="@cornerColumns" rowspan="@cornerRows"></th>
                            }
                            @if (Options.RenderHeaderTitles)
                            {
                                <th class="coltitle rh-@i ch-@cornerColumns tmpd">@RowRender.HeaderTitle(i)</th>
                            }
                            @foreach (var cell in RowRender[i])
                            {
                                var leafCount = cell.Leaf.Count() * HorisontalMeasureRatio;
                                var isTotal = (cell is PivotTableTotalColumnRender<T>);
                                var rowSpan = (isTotal ? RowRender.MaxDepth - cell.depth : 1);
                                //var cellClass = $"{cell.CssClass} rh-{i} " + (isTotal ? "total" : "");
                                    var cellClass = new CssBuilder(cell.CssClass).AddClass($"rh-{i}").AddClass($"total", isTotal).Build();
                                    <th class="@cellClass tmpx" colspan="@leafCount" rowspan="@rowSpan">@cell.Title</th>
                            }
                        </tr>
                    }
                    @if (!IsVertical)
                    {
                        <tr class="headerRow tmpf">
                            @if (Options.RenderHeaderTitles)
                            {
                                @for (int i = 0; i < ColRender.MaxDepth; i++)
                                {
                                    <th class="rowtitle rh-@cornerRows ch-@i tmpc">@ColRender.HeaderTitle(i)</th>
                                }
                            }
                            @foreach (var cell in RowRender.Leaves)
                            {
                                @foreach (var measure in _pivot.Measures)
                                {
                                    /*Component RenderMeasureTitleCell */
                                    <th class="@Options.MeasureTitleCssClass tmpb">@measure.PropertyName</th>
                                }
                            }
                        </tr>
                    }
                </thead>

            }
            @*Render Rows*@
            <tbody class="mud-table-body">
                @foreach (var leaf in ColRender.Leaves)
                {
                    var path = leaf.Path;
                    var newLeaf = path.LastOrDefault(p => !p.IsFirstChild);
                        //var lastLeaf = path.FirstOrDefault(p => !p.IsLastChild);
                        bool levelFound = (newLeaf == null);
                        var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(leaf)).AddClass(Options.RowCssClass).Build();
                        var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(leaf)).Build();
                        //var isRowTotal = lastLeaf is PivotTableTotalColumnRender<T>;

                        //var isT = leaf.Children == null ? true : false;
                        <tr class="@rowClass tmpa" Style="@rowStyle" @key="leaf">
                            @foreach (var cell in path)
                        {
                            if (!levelFound && cell != newLeaf)
                                continue;
                            levelFound = true;

                            var rowSpan = cell.Leaf.Count() * VerticalMeasureRatio;
                            var isTotal = (cell is PivotTableTotalColumnRender<T>);
                            var colSpan = (isTotal ? ColRender.MaxDepth - cell.depth : 1);
                            @if (colSpan > 0)
                            {
                                <th class="@cell.CssClass tmpy ch-@cell.depth" colspan="@colSpan" rowspan="@rowSpan">@cell.Title</th>
                            }
                        }

                        @if (IsVertical)
                        {
                            @foreach (var measure in _pivot.Measures)
                            {
                                /*Component RenderMeasureTitleCell */
                                <th class="@Options.MeasureTitleCssClass">measure.PropertyName</th>

                                @foreach (var colHeaderCell in RowRender.Leaves)
                                {
                                    //todo RenderMeasureCell component?
                                    @((MarkupString)(Options.RenderMeasureCell(_pivot, leaf.Cell, colHeaderCell.Cell, measure)));
                                }
                                @if (measure != _pivot.Measures.Last())
                                {
                                    @((MarkupString)($"</tr><tr class=\"{Options.RowCssClass} tmpg\">"));
                                }
                            }
                        }
                        else
                        {
                            foreach (var colHeaderCell in RowRender.Leaves)
                            {
                                foreach (var measure in _pivot.Measures)
                                {
                                    //todo RenderMeasureCell component?
                                    @((MarkupString)(Options.RenderMeasureCell(_pivot, leaf.Cell, colHeaderCell.Cell, measure)));
                                }
                            }
                        }
                    </tr>

                }
            </tbody>
        </table>
        </div>
    }
</div>